/* custom-styles.css */
.login-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .btn-custom {
    background-color: #87CEFA; /* Azul claro */
    color: white; /* Texto em branco */
    border: none;
  }
  
  .btn-custom:hover {
    background-color: #00BFFF; /* Azul claro mais escuro quando passar o mouse */
    color: white;
  }
   /* custom-styles.css */

.btn-custom, .btn-register {
  background-color: #87CEFA; /* Azul claro */
  color: white;
  border: none;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-custom:hover, .btn-register:hover {
  background-color: #00BFFF; /* Azul claro mais escuro quando passar o mouse */
}

  